@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway';
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dedede;
    font-weight: 200;
}

.main h2 {
    margin: 0;
    font-weight: 200;
    font-size: 24pt;
}

.main h1 {
    margin: 0;
    font-size: 80pt;
}

.metric {
    font-family: 'JetBrains Mono';
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1em;
    color: #666666;
}

.footer p {
    margin: 0;
    font-size: 11pt;
}

.options {
    margin-top: 2em;
    font-weight: 400;
}

.options summary {
    color: #666666;
}
